# Ignore everything
*
**/*

!/hw1/out/src/raytrace.h
!/hw1/out/src/raytrace.cpp
!/hw1/out/src/yobree.h
!/hw1/out/src/yobree.cpp

!/hw2/out/src/raytrace.h
!/hw2/out/src/raytrace.cpp
!/hw2/out/src/yobree.h
!/hw2/out/src/yobree.cpp

!.gitignore
